extends ../layouts/base

block header
  .header-container
    i(onclick="handleCreateRoom()").fa-solid.fa-plus
    h1 방 목록
    i(onclick="handleSetNickname()").fa-solid.fa-bars

block content
  div#room-create-container.except-content
    input#create-room-input(type="text", placeholder="방 이름을 입력하세요")
    <button onclick="createRoom()">방 만들기</button>
  div#set-nickname-container.except-content
    input#nickname-input(type="text", placeholder="닉네임을 입력하세요")
    <button onclick="setNickname()">닉네임 설정</button>
  div#room-list

block scripts 
  script(src="/client/js/waitingRoom.js")
  script(src="/client/js/watingRoomSocket.js")