// 전역에서 공통으로 사용되는 스타일
$background-color: #d2dcef;
$blue-color: #5963d9;
$grey-color: #eaebed;

body {
  position: relative;
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.except-content {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  i {
    cursor: pointer;
  }
}

// 다른 SCSS 파일을 import 하여 구조적으로 관리
@import 'reset.scss';
@import 'waitingRoom.scss';
@import 'chatRoom.scss';
